.masthead {
  width: 100%;
  height: 140px;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 20px;
  line-height: 140px;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.sidebar-title {
  color: black;
}



body {
  margin: 0;
  padding: 0;
}
