img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: auto auto;
}

.img-large {
  max-height: 800px !important;
}

.icon:hover {
  color: rgba(233, 119, 112, 0.72) !important;
}

.featured {
  background-size: cover !important;
  min-height: 200px;
  background-position: center center;
}

#header-wrapper {
  background: url("images/background2.jpg");
  background-size: cover;
  background-position: center center;
}

#footer-wrapper {
  padding: 40px 0px 0px 0px;
}

#footer {
  padding-top: 20px;
}

#copyright {
  margin-top: 20px;
}

#icon {
  text-align: center;
}
